form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .form-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        
        @media (min-width: 750px) {
            width: 500px;
            
        }

        input,
        textarea {
            box-sizing: border-box;
            font-family: "Montserrat";
            
            @media (min-width: 750px) {
                width: 250px;
            }
        }
    }

    .button {
        border: none;
        border-radius: 5px;
        padding: 15px 40px;
        font-family: 'MontserratSemiBold';
        color: var(--color-primary);
        background: var(--color-accent);
        text-transform: uppercase;
        margin-top: 20px;
    }
}
