body {
  color: var(--color-text);
  font-family: "Montserrat";
}

h1,
h2,
h3 {
  font-family: "CrimsonProLight";
  color: var(--color-accent);
}

b {
  font-family: "MontserratSemiBold";
}

a {
  text-decoration: none;
  color: var(--color-accent);
}
